@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71053386');
  src: url('../font/fontello.eot?71053386#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?71053386') format('woff2'),
       url('../font/fontello.woff?71053386') format('woff'),
       url('../font/fontello.ttf?71053386') format('truetype'),
       url('../font/fontello.svg?71053386#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71053386#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-picture:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-camera-alt:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-minus-circled:before { content: '\e807'; } /* '' */
.icon-plus-circled:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-heart-empty:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e810'; } /* '' */
.icon-eye:before { content: '\e811'; } /* '' */
.icon-eye-off:before { content: '\e812'; } /* '' */
.icon-lock:before { content: '\e813'; } /* '' */
.icon-lock-open:before { content: '\e814'; } /* '' */
.icon-thumbs-up:before { content: '\e815'; } /* '' */
.icon-thumbs-down:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-pencil:before { content: '\e818'; } /* '' */
.icon-bell:before { content: '\e819'; } /* '' */
.icon-trash-empty:before { content: '\e81a'; } /* '' */
.icon-basket:before { content: '\e81b'; } /* '' */
.icon-cog-alt:before { content: '\e81c'; } /* '' */
.icon-cog:before { content: '\e81d'; } /* '' */
.icon-folder-open:before { content: '\e81e'; } /* '' */
.icon-folder:before { content: '\e81f'; } /* '' */
.icon-phone:before { content: '\e820'; } /* '' */
.icon-zoom-in:before { content: '\e821'; } /* '' */
.icon-zoom-out:before { content: '\e822'; } /* '' */
.icon-resize-small:before { content: '\e823'; } /* '' */
.icon-resize-vertical:before { content: '\e824'; } /* '' */
.icon-resize-full:before { content: '\e825'; } /* '' */
.icon-resize-horizontal:before { content: '\e826'; } /* '' */
.icon-calendar:before { content: '\e827'; } /* '' */
.icon-emo-coffee:before { content: '\e828'; } /* '' */
.icon-volume-up:before { content: '\e829'; } /* '' */
.icon-help-circled:before { content: '\e82a'; } /* '' */
.icon-info-circled:before { content: '\e82b'; } /* '' */
.icon-volume-off:before { content: '\e82c'; } /* '' */
.icon-volume-down:before { content: '\e82d'; } /* '' */
.icon-down-dir:before { content: '\e82e'; } /* '' */
.icon-up-dir:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-left-dir:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-right-dir:before { content: '\e835'; } /* '' */
.icon-down-open:before { content: '\e836'; } /* '' */
.icon-left-open:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-right-open:before { content: '\e83a'; } /* '' */
.icon-up-open:before { content: '\e83b'; } /* '' */
.icon-down-big:before { content: '\e83c'; } /* '' */
.icon-left-big:before { content: '\e83d'; } /* '' */
.icon-right-big:before { content: '\e83e'; } /* '' */
.icon-up-big:before { content: '\e83f'; } /* '' */
.icon-right-hand:before { content: '\e840'; } /* '' */
.icon-left-hand:before { content: '\e841'; } /* '' */
.icon-up-hand:before { content: '\e842'; } /* '' */
.icon-down-hand:before { content: '\e843'; } /* '' */
.icon-cw:before { content: '\e844'; } /* '' */
.icon-ccw:before { content: '\e845'; } /* '' */
.icon-arrows-cw:before { content: '\e846'; } /* '' */
.icon-chart-bar:before { content: '\e847'; } /* '' */
.icon-floppy:before { content: '\e848'; } /* '' */
.icon-credit-card:before { content: '\e849'; } /* '' */
.icon-truck:before { content: '\e84a'; } /* '' */
.icon-mail:before { content: '\e84b'; } /* '' */
.icon-heart-1:before { content: '\e84c'; } /* '' */
.icon-heart-empty-1:before { content: '\e84d'; } /* '' */
.icon-star-1:before { content: '\e84e'; } /* '' */
.icon-star-empty-1:before { content: '\e84f'; } /* '' */
.icon-user-1:before { content: '\e850'; } /* '' */
.icon-users-1:before { content: '\e851'; } /* '' */
.icon-user-add:before { content: '\e852'; } /* '' */
.icon-picture-1:before { content: '\e853'; } /* '' */
.icon-camera-1:before { content: '\e854'; } /* '' */
.icon-check:before { content: '\e855'; } /* '' */
.icon-cancel-1:before { content: '\e856'; } /* '' */
.icon-lock-1:before { content: '\e857'; } /* '' */
.icon-lock-open-1:before { content: '\e858'; } /* '' */
.icon-print-1:before { content: '\e859'; } /* '' */
.icon-pencil-1:before { content: '\e85a'; } /* '' */
.icon-feather:before { content: '\e85b'; } /* '' */
.icon-chat:before { content: '\e85c'; } /* '' */
.icon-comment:before { content: '\e85d'; } /* '' */
.icon-bell-1:before { content: '\e85e'; } /* '' */
.icon-attention-1:before { content: '\e85f'; } /* '' */
.icon-alert:before { content: '\e860'; } /* '' */
.icon-download:before { content: '\e861'; } /* '' */
.icon-upload:before { content: '\e862'; } /* '' */
.icon-trash-1:before { content: '\e863'; } /* '' */
.icon-cup:before { content: '\e864'; } /* '' */
.icon-phone-1:before { content: '\e865'; } /* '' */
.icon-share:before { content: '\e866'; } /* '' */
.icon-resize-full-1:before { content: '\e867'; } /* '' */
.icon-resize-small-1:before { content: '\e868'; } /* '' */
.icon-heart-2:before { content: '\e869'; } /* '' */
.icon-heart-filled:before { content: '\e86a'; } /* '' */
.icon-star-2:before { content: '\e86b'; } /* '' */
.icon-star-filled:before { content: '\e86c'; } /* '' */
.icon-user-outline:before { content: '\e86d'; } /* '' */
.icon-users-outline:before { content: '\e86e'; } /* '' */
.icon-user-2:before { content: '\e86f'; } /* '' */
.icon-users-2:before { content: '\e870'; } /* '' */
.icon-user-add-outline:before { content: '\e871'; } /* '' */
.icon-user-delete-outline:before { content: '\e872'; } /* '' */
.icon-user-add-1:before { content: '\e873'; } /* '' */
.icon-user-delete:before { content: '\e874'; } /* '' */
.icon-ok-1:before { content: '\e875'; } /* '' */
.icon-cancel-2:before { content: '\e876'; } /* '' */
.icon-minus-2:before { content: '\e877'; } /* '' */
.icon-plus-2:before { content: '\e878'; } /* '' */
.icon-plus-1:before { content: '\e879'; } /* '' */
.icon-minus-1:before { content: '\e87a'; } /* '' */
.icon-plus-circled-1:before { content: '\e87b'; } /* '' */
.icon-minus-circled-1:before { content: '\e87c'; } /* '' */
.icon-help-circled-1:before { content: '\e87d'; } /* '' */
.icon-info-circled-1:before { content: '\e87e'; } /* '' */
.icon-help-1:before { content: '\e87f'; } /* '' */
.icon-info-1:before { content: '\e880'; } /* '' */
.icon-floppy-1:before { content: '\e881'; } /* '' */
.icon-traffic-cone:before { content: '\e882'; } /* '' */
.icon-flow-parallel:before { content: '\e883'; } /* '' */
.icon-flow-tree:before { content: '\e884'; } /* '' */
.icon-flow-branch:before { content: '\e885'; } /* '' */
.icon-flow-cascade:before { content: '\e886'; } /* '' */
.icon-flow-line:before { content: '\e887'; } /* '' */
.icon-chart-area-1:before { content: '\e888'; } /* '' */
.icon-chart-bar-1:before { content: '\e889'; } /* '' */
.icon-chart-pie-1:before { content: '\e88a'; } /* '' */
.icon-divide:before { content: '\e88b'; } /* '' */
.icon-cancel-circled-1:before { content: '\e88c'; } /* '' */
.icon-eq:before { content: '\e88d'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e88e'; } /* '' */
.icon-plus-outline:before { content: '\e88f'; } /* '' */
.icon-minus-outline:before { content: '\e890'; } /* '' */
.icon-divide-outline:before { content: '\e891'; } /* '' */
.icon-eq-outline:before { content: '\e892'; } /* '' */
.icon-info-outline:before { content: '\e893'; } /* '' */
.icon-info-2:before { content: '\e894'; } /* '' */
.icon-home-outline:before { content: '\e895'; } /* '' */
.icon-home:before { content: '\e896'; } /* '' */
.icon-lock-2:before { content: '\e897'; } /* '' */
.icon-lock-open-2:before { content: '\e898'; } /* '' */
.icon-lock-open-filled:before { content: '\e899'; } /* '' */
.icon-lock-filled:before { content: '\e89a'; } /* '' */
.icon-pin:before { content: '\e89b'; } /* '' */
.icon-pin-outline:before { content: '\e89c'; } /* '' */
.icon-download-outline:before { content: '\e89d'; } /* '' */
.icon-download-1:before { content: '\e89e'; } /* '' */
.icon-upload-outline:before { content: '\e89f'; } /* '' */
.icon-upload-1:before { content: '\e8a0'; } /* '' */
.icon-cog-outline:before { content: '\e8a1'; } /* '' */
.icon-cog-1:before { content: '\e8a2'; } /* '' */
.icon-wrench-outline:before { content: '\e8a3'; } /* '' */
.icon-wrench:before { content: '\e8a4'; } /* '' */
.icon-volume-off-1:before { content: '\e8a5'; } /* '' */
.icon-volume-low:before { content: '\e8a6'; } /* '' */
.icon-volume-middle:before { content: '\e8a7'; } /* '' */
.icon-volume-high:before { content: '\e8a8'; } /* '' */
.icon-chart-outline:before { content: '\e8a9'; } /* '' */
.icon-chart:before { content: '\e8aa'; } /* '' */
.icon-chart-alt-outline:before { content: '\e8ab'; } /* '' */
.icon-chart-alt:before { content: '\e8ac'; } /* '' */
.icon-chart-bar-outline:before { content: '\e8ad'; } /* '' */
.icon-chart-bar-2:before { content: '\e8ae'; } /* '' */
.icon-chart-pie-outline:before { content: '\e8af'; } /* '' */
.icon-chart-pie-2:before { content: '\e8b0'; } /* '' */
.icon-scissors-outline:before { content: '\e8b1'; } /* '' */
.icon-beer:before { content: '\e8b2'; } /* '' */
.icon-scissors:before { content: '\e8b3'; } /* '' */
.icon-wine:before { content: '\e8b4'; } /* '' */
.icon-coffee-1:before { content: '\e8b5'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e8b6'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e8b7'; } /* '' */
.icon-sort-alphabet:before { content: '\e8b8'; } /* '' */
.icon-sort-numeric:before { content: '\e8b9'; } /* '' */
.icon-at:before { content: '\e8ba'; } /* '' */
.icon-at-circled:before { content: '\e8bb'; } /* '' */
.icon-skype-outline:before { content: '\e8bc'; } /* '' */
.icon-skype-2:before { content: '\e8bd'; } /* '' */
.icon-twitter-2:before { content: '\e8be'; } /* '' */
.icon-twitter-circled:before { content: '\e8bf'; } /* '' */
.icon-mail-1:before { content: '\e8c0'; } /* '' */
.icon-heart-3:before { content: '\e8c1'; } /* '' */
.icon-heart-empty-2:before { content: '\e8c2'; } /* '' */
.icon-star-3:before { content: '\e8c3'; } /* '' */
.icon-cancel-3:before { content: '\e8c4'; } /* '' */
.icon-plus-3:before { content: '\e8c5'; } /* '' */
.icon-ok-circle:before { content: '\e8c6'; } /* '' */
.icon-cancel-circle:before { content: '\e8c7'; } /* '' */
.icon-plus-circle:before { content: '\e8c8'; } /* '' */
.icon-minus-circle:before { content: '\e8c9'; } /* '' */
.icon-chart-bar-3:before { content: '\e8ca'; } /* '' */
.icon-chart-pie-3:before { content: '\e8cb'; } /* '' */
.icon-chart-pie-alt:before { content: '\e8cc'; } /* '' */
.icon-at-1:before { content: '\e8cd'; } /* '' */
.icon-hash:before { content: '\e8ce'; } /* '' */
.icon-wrench-1:before { content: '\e8cf'; } /* '' */
.icon-pencil-2:before { content: '\e8d0'; } /* '' */
.icon-print-2:before { content: '\e8d1'; } /* '' */
.icon-dollar-1:before { content: '\e8d2'; } /* '' */
.icon-chart-pie-4:before { content: '\e8d3'; } /* '' */
.icon-chart-bar-4:before { content: '\e8d4'; } /* '' */
.icon-chart-1:before { content: '\e8d5'; } /* '' */
.icon-award:before { content: '\e8d6'; } /* '' */
.icon-money-1:before { content: '\e8d7'; } /* '' */
.icon-at-2:before { content: '\e8d8'; } /* '' */
.icon-mail-2:before { content: '\e8d9'; } /* '' */
.icon-heart-4:before { content: '\e8da'; } /* '' */
.icon-star-4:before { content: '\e8db'; } /* '' */
.icon-star-empty-2:before { content: '\e8dc'; } /* '' */
.icon-at-3:before { content: '\e8dd'; } /* '' */
.icon-cafe:before { content: '\e8de'; } /* '' */
.icon-fast-food:before { content: '\e8df'; } /* '' */
.icon-android-1:before { content: '\e8e0'; } /* '' */
.icon-gplus-2:before { content: '\e8e1'; } /* '' */
.icon-html5-1:before { content: '\e8e2'; } /* '' */
.icon-ie:before { content: '\e8e3'; } /* '' */
.icon-appstore:before { content: '\e8e4'; } /* '' */
.icon-plancast:before { content: '\e8e5'; } /* '' */
.icon-skype-3:before { content: '\e8e6'; } /* '' */
.icon-twitter-3:before { content: '\e8e7'; } /* '' */
.icon-youtube-1:before { content: '\e8e8'; } /* '' */
.icon-dropbox-2:before { content: '\e8e9'; } /* '' */
.icon-email:before { content: '\e8ea'; } /* '' */
.icon-windows-1:before { content: '\e8eb'; } /* '' */
.icon-googleplus-rect:before { content: '\e8ec'; } /* '' */
.icon-heart-empty-3:before { content: '\e8ed'; } /* '' */
.icon-star-5:before { content: '\e8ee'; } /* '' */
.icon-heart-5:before { content: '\e8ef'; } /* '' */
.icon-plus-circled-2:before { content: '\e8f0'; } /* '' */
.icon-minus-circled-2:before { content: '\e8f1'; } /* '' */
.icon-ok-circled-1:before { content: '\e8f2'; } /* '' */
.icon-cancel-circled-2:before { content: '\e8f3'; } /* '' */
.icon-lock-open-alt-1:before { content: '\e8f4'; } /* '' */
.icon-lock-circled:before { content: '\e8f5'; } /* '' */
.icon-lock-3:before { content: '\e8f6'; } /* '' */
.icon-lock-open-3:before { content: '\e8f7'; } /* '' */
.icon-eye-1:before { content: '\e8f8'; } /* '' */
.icon-eye-off-1:before { content: '\e8f9'; } /* '' */
.icon-barcode:before { content: '\e8fa'; } /* '' */
.icon-asl:before { content: '\e8fb'; } /* '' */
.icon-star-6:before { content: '\e8fc'; } /* '' */
.icon-heart-6:before { content: '\e8fd'; } /* '' */
.icon-lock-4:before { content: '\e8fe'; } /* '' */
.icon-lock-open-4:before { content: '\e8ff'; } /* '' */
.icon-emo-sunglasses:before { content: '\e900'; } /* '' */
.icon-hammer:before { content: '\e901'; } /* '' */
.icon-book:before { content: '\e902'; } /* '' */
.icon-off:before { content: '\e903'; } /* '' */
.icon-basket-1:before { content: '\e904'; } /* '' */
.icon-basket-2:before { content: '\e905'; } /* '' */
.icon-basket-alt:before { content: '\e906'; } /* '' */
.icon-basket-3:before { content: '\e907'; } /* '' */
.icon-bag:before { content: '\e908'; } /* '' */
.icon-basket-4:before { content: '\e909'; } /* '' */
.icon-home-1:before { content: '\e90a'; } /* '' */
.icon-tools:before { content: '\e90b'; } /* '' */
.icon-wrench-2:before { content: '\e90c'; } /* '' */
.icon-college:before { content: '\e90d'; } /* '' */
.icon-cogs:before { content: '\e90e'; } /* '' */
.icon-cog-2:before { content: '\e90f'; } /* '' */
.icon-params:before { content: '\e910'; } /* '' */
.icon-print-4:before { content: '\e911'; } /* '' */
.icon-print-5:before { content: '\e912'; } /* '' */
.icon-attention:before { content: '\e913'; } /* '' */
.icon-attention-filled:before { content: '\e914'; } /* '' */
.icon-warning-empty:before { content: '\e915'; } /* '' */
.icon-warning:before { content: '\e916'; } /* '' */
.icon-bat1:before { content: '\e917'; } /* '' */
.icon-bat3:before { content: '\e918'; } /* '' */
.icon-bat4:before { content: '\e919'; } /* '' */
.icon-bat-charge:before { content: '\e91a'; } /* '' */
.icon-infinity:before { content: '\e91b'; } /* '' */
.icon-bat-empty:before { content: '\e91c'; } /* '' */
.icon-bat-half:before { content: '\e91d'; } /* '' */
.icon-bat-full:before { content: '\e91e'; } /* '' */
.icon-attention-2:before { content: '\e91f'; } /* '' */
.icon-acrobat:before { content: '\e920'; } /* '' */
.icon-attention-3:before { content: '\e921'; } /* '' */
.icon-warehouse:before { content: '\e922'; } /* '' */
.icon-attention-4:before { content: '\e923'; } /* '' */
.icon-download-2:before { content: '\e924'; } /* '' */
.icon-upload-2:before { content: '\e925'; } /* '' */
.icon-macstore:before { content: '\e926'; } /* '' */
.icon-css:before { content: '\e927'; } /* '' */
.icon-news:before { content: '\e928'; } /* '' */
.icon-phone-2:before { content: '\e929'; } /* '' */
.icon-stopwatch:before { content: '\e92a'; } /* '' */
.icon-calendar-1:before { content: '\e92b'; } /* '' */
.icon-clock:before { content: '\e92c'; } /* '' */
.icon-clock-1:before { content: '\e92d'; } /* '' */
.icon-calendar-3:before { content: '\e92e'; } /* '' */
.icon-clock-2:before { content: '\e92f'; } /* '' */
.icon-clock-alt:before { content: '\e930'; } /* '' */
.icon-clock-3:before { content: '\e931'; } /* '' */
.icon-stopwatch-1:before { content: '\e932'; } /* '' */
.icon-calendar-circled:before { content: '\e933'; } /* '' */
.icon-note:before { content: '\e934'; } /* '' */
.icon-note-beamed:before { content: '\e935'; } /* '' */
.icon-eye-2:before { content: '\e936'; } /* '' */
.icon-home-2:before { content: '\e937'; } /* '' */
.icon-flashlight:before { content: '\e938'; } /* '' */
.icon-search:before { content: '\e939'; } /* '' */
.icon-video:before { content: '\e93a'; } /* '' */
.icon-menu:before { content: '\e93b'; } /* '' */
.icon-cancel-circled-3:before { content: '\e93c'; } /* '' */
.icon-graduation-cap:before { content: '\e93d'; } /* '' */
.icon-bucket:before { content: '\e93e'; } /* '' */
.icon-credit-card-1:before { content: '\e93f'; } /* '' */
.icon-database:before { content: '\e940'; } /* '' */
.icon-clipboard:before { content: '\e941'; } /* '' */
.icon-key:before { content: '\e942'; } /* '' */
.icon-magnet:before { content: '\e943'; } /* '' */
.icon-chart-line-1:before { content: '\e944'; } /* '' */
.icon-picture-2:before { content: '\e945'; } /* '' */
.icon-camera-2:before { content: '\e946'; } /* '' */
.icon-camera-outline:before { content: '\e947'; } /* '' */
.icon-picture-outline:before { content: '\e948'; } /* '' */
.icon-search-outline:before { content: '\e949'; } /* '' */
.icon-search-1:before { content: '\e94a'; } /* '' */
.icon-mail-3:before { content: '\e94b'; } /* '' */
.icon-print-6:before { content: '\e94c'; } /* '' */
.icon-bell-2:before { content: '\e94d'; } /* '' */
.icon-box-1:before { content: '\e94e'; } /* '' */
.icon-calendar-outlilne:before { content: '\e94f'; } /* '' */
.icon-trash-2:before { content: '\e950'; } /* '' */
.icon-gift:before { content: '\e951'; } /* '' */
.icon-chat-inv:before { content: '\e952'; } /* '' */
.icon-chat-1:before { content: '\e953'; } /* '' */
.icon-comment-alt2:before { content: '\e954'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e955'; } /* '' */
.icon-mail-4:before { content: '\e956'; } /* '' */
.icon-search-2:before { content: '\e957'; } /* '' */
.icon-article-alt:before { content: '\e958'; } /* '' */
.icon-book-1:before { content: '\e959'; } /* '' */
.icon-mobile-1:before { content: '\e95a'; } /* '' */
.icon-mobile-alt:before { content: '\e95b'; } /* '' */
.icon-post:before { content: '\e95c'; } /* '' */
.icon-mail-5:before { content: '\e95d'; } /* '' */
.icon-gmail:before { content: '\e95e'; } /* '' */
.icon-mail-6:before { content: '\e95f'; } /* '' */
.icon-cart:before { content: '\e960'; } /* '' */
.icon-barcode-1:before { content: '\e961'; } /* '' */
.icon-qrcode:before { content: '\e962'; } /* '' */
.icon-road:before { content: '\e963'; } /* '' */
.icon-grid:before { content: '\e964'; } /* '' */
.icon-paper-plane:before { content: '\f01d'; } /* '' */
.icon-paper-plane-alt2:before { content: '\f01e'; } /* '' */
.icon-paper-plane-alt:before { content: '\f01f'; } /* '' */
.icon-hash-1:before { content: '\f029'; } /* '' */
.icon-print-3:before { content: '\f087'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-paper-plane-1:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-at-4:before { content: '\f1fa'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-expeditedssl:before { content: '\f23e'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-snapchat:before { content: '\f2ab'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-facebook-2:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-youtube-2:before { content: '\f313'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-amex:before { content: '\f326'; } /* '' */
.icon-discover:before { content: '\f327'; } /* '' */
.icon-visa:before { content: '\f328'; } /* '' */
.icon-mastercard:before { content: '\f329'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-dropbox-1:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-skype-1:before { content: '\f339'; } /* '' */
.icon-calendar-2:before { content: '\f4c5'; } /* '' */