

.form-control {
    font-weight: 500;
    border: 1px solid #DBE0E4;
    
}

.input-sm{
 padding: 5px 10px;
 font-size: 1em;
 height: 35px;
 line-height: 1.42857143;
}

.input-lg {
    height: 50px;
    font-size: 16px;
}

select.input-sm {
    height: 35px;
    line-height: 30px;
}
